nav {
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
}

.tuto-nav,
.game-nav,
.boutique-nav {
  font-size: 28px;
  text-decoration: none;
  font-style: italic;
  color: beige;
}
