.bg-Game {
  height: 1000px;
  background-image: url(https://img.wallpapic.fr/i6886-037-511/medium/typographie-noirs-menu-logo-fond-d-ecran.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-games {
  display: flex;
  border: 2px solid blue;
  background: rgba(75, 56, 56, 0.562);

  height: 100%;
  width: 250px;
}

.listing-games {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

.snake,
.morpion {
  text-decoration: none;
  margin-left: 24px;
  font-size: 45px;
  color: rgba(240, 255, 254, 0.664);
}
a:hover {
  color: red;
  text-decoration: underline;
}
