.bg-Game {
  height: 1000px;
  background-image: url(https://img.wallpapic.fr/i6886-037-511/medium/typographie-noirs-menu-logo-fond-d-ecran.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-games {
  display: flex;
  border: 2px px solid black;
  background: rgba(138, 193, 201, 0.377);
  height: 100%;
  width: 15%;
}

.listing-games {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.snake,
.morpion {
  text-decoration: none;
  margin-left: 24px;
  font-size: 45px;
  color: rgba(240, 255, 254, 0.664);
}
a:hover {
  color: red;
  text-decoration: underline;
}
