.bg-snake {
  background-image: url(https://s1.best-wallpaper.net/wallpaper/m/1803/Snake-viper-black-background_m.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
 
}

.container-snake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px solid black;
  background: rgb(197, 181, 181);
  width: 50%;
  margin: 80px auto;
  height: 600px;
}

.btn-snake {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.on-snake,.off-snake{
    font-size: 24px;
    font-style: italic;
    border-radius: 8%;
    background: rgba(153, 142, 142, 0.021);
}

.snake {
  background: #000;
  width: 5%;
}